/* main.css */

/* common */
body {font-size: 12px;
    font-family: Dotum, "돋움", Helvetica, AppleGothic sans-serif;
    color: #797979;
    background: #2a377f url(../images/bg_body.jpg) repeat-x 50% 0;
}
a:link, a:visited {text-decoration: none; color: #808080;}
a:hover, a:active, a:focus {text-decoration: underline; color: #56619e;}

/* layout */
#wrap { width: 960px; margin: 0 auto; border: 1px solid red;}
    #header { position: relative; width: 960px; height: 90px; border: 1px solid blue;}
    #container { position: relative; width: 960px; border: 1px solid green;}
        .main_visual {width: 960px;}
        #content { position: absolute; left: 5px; top: 382px; width: 960px; }
    #footer {width: 960px; height: 51px; border: 1px solid blue;}

/* header */
h1.logo {float: left; margin-top: 30px;}

/* 탑메뉴 */
dl.topMenu {float: right; margin-top: 10px;}
dl.topMenu dd {float: left;
    padding-right: 11px;
    margin-right: 4px;
    background: url(../images/bg_sideMenu.gif) no-repeat 100% 50%;}

dl.topMenu dd.last {background : none; padding-right: 0;}

/* 주메뉴 */
ul.gnb {/*clear: both; float: right;*/ position: absolute; right: 0; top: 60px;}
ul.gnb li {float: left; margin-right: 30px;}
ul.gnb li.last {float: left; margin-right: 0;}

/* container */
/* main_visual */
dl.tabMenu {position: absolute; left: 10px; top: 193px; width: 325px; font-size: 11px;}
dl.tabMenu dt {float: left; margin-right: 10px;}
dl.tabMenu dd {position: absolute; left: 0; top: 34px; width: 325px;}
dl.tabMenu dd li {height: 20px;}
dl.tabMenu dd li span {position: absolute; right: 0;}

/* content */

/* 퀵메뉴 */
div.quick_menu {float: left; width: 90px; margin-right: 45px; border: 1px solid red;}
div.quick_menu h3 {margin-bottom: 15px;}
div.quick_menu ol {background: url(../images/bg_service.gif) no-repeat 0 0;}
div.quick_menu ol li {padding-left: 14px; height: 20px; font-weight: bold; color: #fff;}
div.quick_menu ol li a {color: #fff; font-size: 12px;}
/* 인재상 */
dl.person { position: relative; float: left; width: 200px; margin-right: 40px; border: 1px solid red;}
dl.person dt {float: left; margin-right: 2px;}
dl.person dd {position: absolute; left: 0; top: 29px;}
/* 인터뷰 */
div.interview {float: left; width: 225px;}
div.interview h3 {margin-bottom: 25px;}
div.interview p {}
/* footer */
#footer form {float: left; margin-right: 6px; padding-top: 18px; border-top: 1px solid #4e5892;}
#footer p {float: left;}
#footer address {float: right;}