/* wrap */
#wrap {width: 1000px; margin: 0 auto; }
/* header */
#header {position: relative; padding-top:30px;}
    /* 탑메뉴 */
    #topMenu { position: absolute; top: 0; right: 0;}
    #topMenu h1{float: left;}
    #topMenu dl.topMenu {
                float: right;
                height: 17px;
                background: url(../images/top_left.gif) no-repeat 0 0;
    
    }
    #topMenu dl dd {float: left; padding-right: 15px; margin-left: 15px;
                    background: url(../images/t.gif) no-repeat 100% 50%;
        }
    #topMenu dl dd.right {background: url(../images/top_right.gif) no-repeat 100% 0;}
    /* #topMenu { height: 80px;  }
    #topMenu h1{float: left;}
    #topMenu dl { width: 200px;
        position: absolute; top: 0; right: 8px;
        background: url(../images/top_left.gif) no-repeat 0 0;
  
    }
    #topMenu dl dd {float: left; margin-left: 1px;
                    background: url(../images/t.gif) no-repeat 100% 0;
                    padding-right: 12px;
    
    }
    #topMenu dl dd.mnone {margin-left: 20px;} */
    /* 주메뉴 */
    #mainMenu { }
    #mainMenu ul  {position: absolute; top: 50px; right: 0;}
    #mainMenu ul li {float: left; padding-left: 50px;}
    

/* 컨테이너 */
#container {}
    /* 메인비주얼 */
    #container #m_vis {clear: both;}
    #container #m_vis img {float: left; margin-bottom: 20px;}
    /* 컨텐트 */
    #container #content {width: 1000px; clear: both;}
        /* 비즈인포 */
        #container #content #bizInfo { position: relative; float: left; width: 300px; }
        #container #content #bizInfo h3 {border-bottom: 2px solid #ddd;}
        #container #content #bizInfo p.first {position:relative; padding-top: 10px;}
        #container #content #bizInfo p.more {position:absolute; top: 95px;}
        /* 노티스뉴스 */
        #container #content #noticeNews { position: relative; float: left; margin-left: 20px; width: 350px; }
        #container #content #noticeNews h3 {border-bottom: 2px solid #ddd;}
        #container #content #noticeNews li {margin-top: 10px; height: 12px; padding-left: 10px; background: url(../images/icon_dot.gif) no-repeat 0 50%;}
        #container #content #noticeNews li span {float: right;}
        #container #content #noticeNews .more {position: absolute; top: 0; right: 0;}
        #container #content #noticeNews a {text-decoration: none; color: #000;}
        #container #content #noticeNews a:hover {text-decoration: underline; color: #ddd;}
        /* 퀵메뉴 */
        #container #content #quickmenu {float: right; width: 300px; }
        #container #content #quickmenu h3 {border-bottom: 2px solid #ddd;}
        #container #content #quickmenu ul {padding-top: 10px;}
        #container #content #quickmenu ul li.first {float: left; margin-right: 18px;}
        #container #content #quickmenu ul li.mid {float: left;}
        #container #content #quickmenu ul li.last {float: right;}

        
        
        /* 푸터 */
        #footer { clear: both;
            position: relative;
            margin: 0 auto;
            padding-top: 30px;
            margin-top: 170px;
            width: 1000px;
            height: 100px;
            background-color: #f0f0f0;}
            #footer p {float: left; padding-left: 15px;}
            #footer ul {float: left; padding-left: 35px;}
            #footer address {float: left; padding-left: 35px; padding-top: 10px;}
            
            #footer ul li.first {width: 95px;} 
            #footer ul li { 
                float: left;
                width: 60px;
                height: 20px;
                margin-right: 10px;
                background: url(../images/f.gif) no-repeat 100% 50%;}
                